@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nova+Script&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Game-Of-Squids';
  src: url("./font/Game-Of-Squids.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, 
input{
  background-color: #291631 !important;
  font-family: "Poppins" !important;
  width: 100%;
  height: auto;
}

p,
h1{
  background: none;
  color: #fff !important;
}

#tela-oculta{
  display: none;
}

#score{
  font-family: 'Game-Of-Squids';
  font-size: 3.5rem;
  color: #66ff00!important;
}

#hud-prefix{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

#hud-item{
  width: 100%;
  margin-top: 1%;
}

.choice-container-2{
  display: flex;
  margin-bottom: 2rem;
  width: auto;
  border-radius: 4px;
  background-image: linear-gradient(35deg, #291631, #ff0526);
  box-shadow: 0 0.2rem 1.4rem 0 #ff0526;
  align-items: center;
}

.choice-container-2:hover{
  cursor: pointer;
  background-image: url(../IMAGES/round-soldier.png);
  background-size: 25%, cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 90%;
  border: 3px solid #66ff00 !important;
}

.choice-prefix{
  font-family: 'Game-Of-Squids';
  font-size: 2.5rem;
  padding: 2rem 2.5rem;
}

.choice-text{
  padding: 2rem;
  width: 60%;
  font-size: 1.5rem;
}

.correct{
  background: #38b100 !important;
}

.correct a::after{
  content: '✔';
  color: #fff;
  font-size: 5vw;
  margin-right: 1vw;
}

.incorrect{
  background: #FC3939 !important;
}

.incorrect a::after{
  content: '✕';
  color: #fff;
  font-size: 5vw;
  margin-right: 1vw;
}

#question{
  margin: 20px 10px 20px 10px;
  font-size: 30px;
  text-align: justify;
  color: #fff !important;
}

/*Progresso*/
#hud{
  display: flex;
  justify-content: space-between;
}

.hud-prefix{
  color: #fff !important;
  text-align: center;
  font-size: 2rem;
}

.hud-main-text{
  text-align: center;
}

#progressBar{
  width: 100%;
  height: 2rem;
  border: 0.1rem solid rgb(11, 223, 36);
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: none;
  padding: 0.1rem;
}

#progressBarFull{
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(90deg, rgb(11, 223, 36), #66ff00);
  width:0%;
}

@media screen and (max-width: 900px){
  .choice-container-2{
    min-width: 40rem;
  }

  #score{
    font-size: 4.5rem;
    color: #F2DFBB !important;
  }
  
  #hud-prefix{
    font-size: 21px;
    color: #F2DFBB !important;
  }
  
  #hud-item{
    width: 100%;
  }
  
  #progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: none;
  }

  #progressBarFull{
    height: 100%;
    background: rgb(11, 223, 36);
    width:100%;
  }

  #hud{
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix{
    color: #F2DFBB !important;
    text-align: center;
    font-size: 1rem;
  }
  
  .hud-main-text{
    text-align: center;
  }
}
